In [4]:
#importing dependencies
import pandas as pd
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [5]:
#setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 102.0.5005
Get LATEST chromedriver version for 102.0.5005 google-chrome
Driver [C:\Users\isidh\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

NASA Mars News

In [6]:
#setting link
news_url = 'https://redplanetscience.com/'
browser.visit(news_url)

In [7]:
#delay due to slow load time
browser.is_element_present_by_css('div.list_text', wait_time=5)

True

In [8]:
#scrape and store article title/paragraph
html = browser.html
soup = bs(html, 'html.parser')
news_title = soup.find('div', class_='content_title').text
news_para = soup.find('div', class_='article_teaser_body').text
print(news_title)
print(news_para)

Curiosity Mars Rover's Summer Road Trip Has Begun
After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.

JPL Mars Space Images-Featured Image

In [11]:
#setting link
jpl_url = 'https://spaceimages-mars.com/'
browser.visit(jpl_url)

In [12]:
#delay due to slow load time
browser.is_element_present_by_css('div.list_text', wait_time=5)

False

In [13]:
#scrape and store img source
html = browser.html
soup = bs(html, 'html.parser')
image_url = jpl_url + soup.find('img', class_='headerimage fade-in')['src']
print(image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

Mars Facts

In [16]:
#setting link
fact_url = 'https://galaxyfacts-mars.com/'

In [18]:
#setting df
facts_df = pd.read_html(fact_url, header=0,index_col=0)[0]

In [19]:
facts_df.head()

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days

In [22]:
#setting df to html and removing new lines
table = facts_df.to_html()
table = table.replace('\n', '')
table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Mars - Earth Comparison</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [41]:
#setting link
hemisphere_url = 'https://marshemispheres.com/'
browser.visit(hemisphere_url)

In [42]:
#delay due to slow load time
browser.is_element_present_by_css('div.wrapper', wait_time=5)

True

In [43]:
#scrape and store items
html = browser.html
soup = bs(html, 'html.parser')
items = soup.find_all('div',class_='item')

In [44]:
#loop to get all title names and links
links = []
titles = []
for item in items:
    links.append(hemisphere_url + item.find('a')['href'])
    titles.append(item.find('h3').text.strip())

print(links)
titles

['https://marshemispheres.com/cerberus.html', 'https://marshemispheres.com/schiaparelli.html', 'https://marshemispheres.com/syrtis.html', 'https://marshemispheres.com/valles.html']

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [47]:
#loop to get images for each link
image_urls = []
for x in links:
    browser.visit(x)
    html = browser.html
    soup = bs(html, 'html.parser')
    x = hemisphere_url + soup.find('img',class_='wide-image')['src']
    image_urls.append(x)

print(image_urls)

['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg', 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg', 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [49]:
#combining title and link
hemisphere_image_urls = []
for x in range(0,len(titles)):
    hemisphere_image_urls.append({'title':titles[x],'img_url':image_urls[x]})
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [50]:
#quit browser
browser.quit()